*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 120vw;
    height: 120vw;
    clip-path: circle(70% at 50% 50%);
    background-image: url(bg.jpg);
    background-position: center center;
    animation: rotate 1.5s forwards 1;
}

.bg:nth-child(1){
    animation-delay: 1200ms;
}

.bg:nth-child(2){
    clip-path: circle(40% at 50% 50%);
    animation-delay: 1150ms;
}

.bg:nth-child(3){
    clip-path: circle(30% at 50% 50%);
    animation-delay: 1100ms;
}

.bg:nth-child(4){
    clip-path: circle(20% at 50% 50%);
    animation-delay: 1050ms;
}

.bg:nth-child(5){
    clip-path: circle(10% at 50% 50%);
    animation-delay: 1000ms;
}

@keyframes rotate{
    0%{
        transform: translate(-50%, -50%) rotate(0);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.heading{
    color: #fff;
    font-family: 'roboto',sans-serif;
    font-size: 100px;
    text-align: center;
    z-index: 3;
    letter-spacing: 4vw;
    animation: close 2s 2s forwards 1;
    opacity: 0;
}

@keyframes close{
    0%{
        opacity: 0;
        letter-spacing: 4vw;
    }
    100%{
        opacity: 1;
        letter-spacing: 0;
    }
}

.heading span:nth-child(2),
.heading span:nth-child(4),
.heading span:nth-child(5){
    animation: no-fill 1s 4.5s forwards 1;
}

@keyframes no-fill{
    0%, 30%, 50%, 70%, 90%{
        color: #fff;
    }
    19%, 39%, 79%, 100%{
        -webkit-text-stroke: 2px #fff;
        color: transparent;
    }
    20%, 40%, 80%{
        color: transparent;
    }
}

.para{
    text-align: center;
    width: 50%;
    color: #fff;
    font-family: roboto, sans-serif;
    z-index: 3;
    opacity: 0;
    transform: translateY(10px);
    margin: 30px 0;
    min-width: 350px;
    animation: fade-up .5s 5.5s forwards 1;
}

.btn{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    color: #fff;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    opacity: 0;
    transform: translateY(10px);
    animation: fade-up .5s 6s forwards 1;
}

.btn:hover{
    color: #000;
    background: #fff;
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (orientation: portrait){
    .bg{
        width: 120vh;
        height: 120vh;
    }
}